@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.4/css/boxicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Genel ayarlar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color: #1a1a1a;       /* Arka plan rengi (koyu gri) */
    --second-bg-color: #555;   /* İkincil arka plan rengi (daha koyu gri) */
    --text-color: #fff;        /* Metin rengi (açık gri) */
    --main-color: #0FF;        /* Ana vurgu rengi (neon pembe) */
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
section {
    min-height: 100vh;
    padding: 9% 1rem;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
    background-color: var(--second-bg-color);
}
/* Logo */
.logo {
    position: absolute;
    top: 50px;
    left: -50px;
    width: 170px;
    height: 170px;
    z-index: 98;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.logo:hover {
    transform: rotate(360deg);
}
/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}
#menu-icon {
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}
/* Home Section */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 9%;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}
.home-content {
    max-width: 100rem;
    z-index: 99;
}
.home-content h1,
.home-content h5,
.home-content h6 {
    font-weight: 700;
    line-height: 1.3;
}
.home-content h1 {
    font-size: 2.9rem;
    margin: 0 0 15px;
}
.home-content h5 {
    font-size: 5rem;
    margin: 115px 0 40px;
    position: relative;
    right: -5px;
}
.home-content h6 {
    font-size: 3.2rem;
    margin: 10px 0 40px;
    position: relative;
    right: -10px;
}
.mentor {
    position: absolute;
    bottom: -20px;
    right: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
    z-index: 1000;
}
.home-content .text-animate {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content .text-animate h3 {
    margin: 20px 0 15px;
    font-size: 3.2rem;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-clip: text;
    -webkit-background-clip: text;
    animation: textBlink 1s infinite;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    animation: textBlink 3s linear infinite 1.5s;
}
.home-content .text-animate h3::before {
    animation: textBlink 6s linear infinite 2s;
}

.home-content p {
    font-size: 2rem;
    margin: 2rem 0 4rem;
}
.btn-box {
    display: flex;
    justify-content: space-between;
    max-width: 55rem;
    margin: 50px auto;
    gap: 10px;
}
.btn-box .btn {
    margin: 5rem 0 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 0.25rem);
    height: 5rem;
    background: var(--main-color);
    border: 0.5rem solid var(--main-color);
    border-radius: 10rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    color: var(--bg-color);
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s, color 0.5s;
}
.btn-box .btn:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
}
.btn-box .btn1:nth-child(2):hover {
    color: var(--bg-color);
}
.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: width 0.5s;
}
.btn-box .btn:hover::before {
    width: 100%;
}
/* Container stil ayarları */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: skew(0deg);
    position: relative; /* Container'ı referans alarak h2 başlığı pozisyonlandıracağız */
    
}
.about h2{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 120px 20px;
    color: white;
    font-size: 3.5rem;
    z-index: 1000; /* Container üzerinde diğer elementlerin üstünde olması için z-index */
}
/* Card stil ayarları */
.card {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 65vmin;
    position: relative;
    margin: 25px;

}
.card__head {
    color: black;
    background: rgba(255, 30, 173, 0.75);
    padding: 0.4em;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 0.5s ease-in-out;
    min-width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: -33px;
    font-size: 1.7rem;
    white-space: nowrap;
    border-radius: 20px;
}
.description {
    text-align: center;
    position: absolute;
    font-size: 1.5rem;
    bottom: -100%;
    left: -35px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    transition: bottom 0.5s ease-in-out;
    margin-top: 20px;
    border-radius: 20px;

}
.card:hover {
    flex-grow: 4;
}
.card:hover .card__head {
    top: calc(100% - 2em);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    transform: rotate(0deg) skew(-5deg);
}
.card:hover .description {
    bottom: -65px;
}
  
/* Resim stil ayarları */
img {
    text-align: center;
    width: 70%;
    height: 70%;
    object-fit: cover;
    transition: all 1s ease-in-out;
    margin: 50px;
}
  /* :not(:nth-child(5)) stil ayarları */
  :not(:nth-child(5)) {
    margin-right: 1em;
  }
  .view-button {
    position: relative;
    bottom: 20%;
    font-size: 24pt;
    letter-spacing: 3px;
    background: #9b1c2c;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
    padding: 10px 20px;
}
.view-button:hover {
    color: #041e42;
}
.view-button:focus {
    outline: none;
}
.duty {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative; /* Position relative eklendi */
    padding-top: 10px; /* Başlığın görünmesi için üstten boşluk verildi */
}
.duty h2 {
    position: absolute;
    top: 0; /* Başlığın üstten başlayacak şekilde konumlandırılması */
    left: 50%; /* Ortalanması için sol kenar ortada */
    transform: translateX(-50%); /* Ortalamayı tamamlama */
    padding: 80px;
    color: white;
    font-size: 3.5rem;
}
.box {
    position: relative;
    width: 300px;
    height: 470px;
    background-color: var(--second-bg-color);
    box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    margin-top: 150px;
    border-radius: 5rem;
    overflow: hidden;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
}
.back {
    transform: rotateY(180deg);
    background-color: #f0f0f0;
    padding: 20px;
    display: none; /* initially hidden */
}
.box.is-flipped .front {
    transform: rotateY(-180deg);
}
.box.is-flipped .back {
    transform: rotateY(0deg);
    display: block; /* show when flipped */
    transition: transform 0.8s; /* animation transition */
}
.content img {
    width: 90px;
    height: 90px;
    border-radius: 50%; /* Görsellerin yuvarlak olması için */
    overflow: hidden;
    object-fit: cover;
    object-position: top;
    margin: 60px 35px; /* Görselleri ortalamak için */
}
.content {
    text-align: center;
}
.content strong {
    font-weight: bold;
    color: var(--text-color);
    font-size: 1.9rem;
    padding: 20px;
}
.content p {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-top: 10px;
}
.btn {
    margin-top: auto;
    text-align: center;
}
.btn .view-btn{
    text-align: center;
    position: absolute; /* Position absolute ile sabitleriz */
    bottom: 10px; /* Alttan 20px yukarıda yerleştiririz */
    right: 100px; /* Sağdan 20px içerde yerleştiririz */
}
.btn a {
    display: inline-block;
    background-color: #509bfc;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.btn a:hover {
    background-color: #4070d0;
}
.box .btn {
    display: block; /* Ensure the view button is visible */
}
.box.is-flipped .btn {
    display: none; /* Hide the view button when flipped */
}
.back {
    margin-top: auto;
    text-align: center;
    background-color: var(--second-bg-color);
}
.back a {
    display: inline-block;
    background-color: #509bfc;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.back p {
    margin-top: -50px;
    font-size: 1.49rem;
}
.back a:hover {
    background-color: #4070d0;
}
.back .close-btn {
    text-align: center;
    position: absolute; /* Position absolute ile sabitleriz */
    bottom: 60px; /* Alttan 20px yukarıda yerleştiririz */
    right: 100px; /* Sağdan 20px içerde yerleştiririz */
}
.back .close-btn i {
    margin-right: 5px;
}
.education p {
    margin-top: 10px;
    text-align: center;
    font-size: 1.7rem;
    color: var(--text-color);
}
.education h2{
    margin-top: -20px;
    text-align: center;
    font-size: 3.5rem;
}
.projects-skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    max-width: 1500px;
    padding: 1px;
    box-shadow: 0 8px 24px rgb(0 0 0 / 100%);
    border: .1rem solid var(--main-color);

}
.projects-column, .skills-column {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}
.project-card {
    font-size: 1.3rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 1px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
    margin-bottom: 23px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
}
.card-content {
    padding: 20px;
    text-align: center;
}
.card-year {
    font-size: 1.2em;
    color: #555;
}
.skill-card {
    font-size: 1.3rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
    margin-bottom: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
}
.card-content2 {
    padding: 20px;
    text-align: center;
}
.card-content2 h3 {
    font-size: 1.2em;
    color: #555;
}
.red {
    color: #f00;
}
.yellow {
    color: #fc0;
}
.green {
    color: #0c6;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.contact {
    min-height: auto;
    padding-bottom: 10rem;
    text-align: center;
}
.contact h2 {
    display: inline-block;
    font-size: 4.7rem;
    margin: -30px 0 10px; /* Başlığın altında 20 piksel boşluk bırak */
}
.contact form {
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.3rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}
.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}
.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}
.contact form .textarea-field textarea {
    resize: none;
}
.contact form .btn-box.btns .btn {
    cursor: pointer;
}
.btn-box.btns {
    display: inline-block;
    width: 50rem;
    margin: -30px 0 10px; /* Başlığın altında 20 piksel boşluk bırak */
}
.btn-box.btns a::before {
    background: var(--second-bg-color);
}
.footer {
    width: 110%; /* 110% yerine 100% yapıldı */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text,
.footer-iconTop {
    position: relative;
}
.footer-text p {
    font-size: 2rem;
    margin-top: 10px;
    margin-left: -100px; /* Negatif margin yerine 0 yapıldı */
}
.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--main-color);
    border: .3rem solid var(--main-color);
    border-radius: 50px; /* 90px yerine % ile yuvarlatma yapıldı */
    z-index: 1;
    overflow: hidden;
}
.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.footer-iconTop a:hover::before {
    width: 100%;
}
.footer-iconTop a i {
    font-size: 2.5rem;
    color: var(--bg-color);
    transition: .5s;
}
.footer-iconTop a:hover i {
    color: var(--main-color);
}
@keyframes textBlink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}


